.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-table {
  display: table;
}
.d-list-item {
  display: list-item;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-between {
  justify-content: between;
}
.justify-content-around {
  justify-content: around;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-evenly {
  justify-content: evenly;
}
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-center {
  align-items: center;
}
.align-self-start {
  align-self: start;
}
.align-self-end {
  align-self: end;
}
.align-self-center {
  align-self: center;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.float-none {
  float: none;
}
.clear-right {
  clear: right;
}
.clear-left {
  clear: left;
}
.clear-both {
  clear: both;
}
.clear-none {
  clear: none;
}
.f-s-xs {
  font-size: 12px;
}
.f-s-s {
  font-size: 14px;
}
.f-s-m {
  font-size: 16px;
}
.f-s-l {
  font-size: 18px;
}
.f-s-xl {
  font-size: 20px;
}
.f-s-2xl {
  font-size: 22px;
}
.f-s-3xl {
  font-size: 24px;
}
.f-s-4xl {
  font-size: 26px;
}
.f-w-xs {
  font-weight: 200;
}
.f-w-s {
  font-weight: 300;
}
.f-w-m {
  font-weight: 400;
}
.f-w-l {
  font-weight: 500;
}
.f-w-xl {
  font-weight: 600;
}
.f-w-2xl {
  font-weight: 700;
}
.f-w-3xl {
  font-weight: 800;
}
.f-style-italic {
  font-style: italic;
}
.f-style-normal {
  font-style: normal;
}
.leading-xs {
  line-height: 12px;
}
.leading-s {
  line-height: 14px;
}
.leading-m {
  line-height: 16px;
}
.leading-l {
  line-height: 18px;
}
.leading-xl {
  line-height: 20px;
}
.leading-2xl {
  line-height: 22px;
}
.leading-3xl {
  line-height: 24px;
}
.leading-4xl {
  line-height: 26px;
}
.overflow {
  overflow: auto;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow {
  overflow: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow {
  overflow: visible;
}
.overflow-x-visible {
  overflow-x: visible;
}
.overflow-y-visible {
  overflow-y: visible;
}
.overflow {
  overflow: scroll;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.position-static {
  position: static;
}
.position-sticky {
  position: sticky;
}
.p-t-0 {
  padding-top: 0;
}
.p-b-0 {
  padding-bottom: 0;
}
.p-l-0 {
  padding-left: 0;
}
.p-r-0 {
  padding-right: 0;
}
.p-x-0 {
  padding-left: 0;
  padding-right: 0;
}
.p-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.p-t-xs {
  padding-top: 4px;
}
.p-b-xs {
  padding-bottom: 4px;
}
.p-l-xs {
  padding-left: 4px;
}
.p-r-xs {
  padding-right: 4px;
}
.p-x-xs {
  padding-left: 4px;
  padding-right: 4px;
}
.p-y-xs {
  padding-top: 4px;
  padding-bottom: 4px;
}
.p-t-s {
  padding-top: 6px;
}
.p-b-s {
  padding-bottom: 6px;
}
.p-l-s {
  padding-left: 6px;
}
.p-r-s {
  padding-right: 6px;
}
.p-x-s {
  padding-left: 6px;
  padding-right: 6px;
}
.p-y-s {
  padding-top: 6px;
  padding-bottom: 6px;
}
.p-t-l {
  padding-top: 12px;
}
.p-b-l {
  padding-bottom: 12px;
}
.p-l-l {
  padding-left: 12px;
}
.p-r-l {
  padding-right: 12px;
}
.p-x-l {
  padding-left: 12px;
  padding-right: 12px;
}
.p-y-l {
  padding-top: 12px;
  padding-bottom: 12px;
}
.p-t-xl {
  padding-top: 16px;
}
.p-b-xl {
  padding-bottom: 16px;
}
.p-l-xl {
  padding-left: 16px;
}
.p-r-xl {
  padding-right: 16px;
}
.p-x-xl {
  padding-left: 16px;
  padding-right: 16px;
}
.p-y-xl {
  padding-top: 16px;
  padding-bottom: 16px;
}
.p-t-2xl {
  padding-top: 20px;
}
.p-b-2xl {
  padding-bottom: 20px;
}
.p-l-2xl {
  padding-left: 20px;
}
.p-r-2xl {
  padding-right: 20px;
}
.p-x-2xl {
  padding-left: 20px;
  padding-right: 20px;
}
.p-y-2xl {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-t-3xl {
  padding-top: 24px;
}
.p-b-3xl {
  padding-bottom: 24px;
}
.p-l-3xl {
  padding-left: 24px;
}
.p-r-3xl {
  padding-right: 24px;
}
.p-x-3xl {
  padding-left: 24px;
  padding-right: 24px;
}
.p-y-3xl {
  padding-top: 24px;
  padding-bottom: 24px;
}
.p-t-4xl {
  padding-top: 28px;
}
.p-b-4xl {
  padding-bottom: 28px;
}
.p-l-4xl {
  padding-left: 28px;
}
.p-r-4xl {
  padding-right: 28px;
}
.p-x-4xl {
  padding-left: 28px;
  padding-right: 28px;
}
.p-y-4xl {
  padding-top: 28px;
  padding-bottom: 28px;
}
.p-t-5xl {
  padding-top: 32px;
}
.p-b-5xl {
  padding-bottom: 32px;
}
.p-l-5xl {
  padding-left: 32px;
}
.p-r-5xl {
  padding-right: 32px;
}
.p-x-5xl {
  padding-left: 32px;
  padding-right: 32px;
}
.p-y-5xl {
  padding-top: 32px;
  padding-bottom: 32px;
}
.m-t-auto {
  margin-top: auto;
}
.m-b-auto {
  margin-bottom: auto;
}
.m-l-auto {
  margin-left: auto;
}
.m-r-auto {
  margin-right: auto;
}
.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}
.m-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.m-t-0 {
  margin-top: 0;
}
.m-b-0 {
  margin-bottom: 0;
}
.m-l-0 {
  margin-left: 0;
}
.m-r-0 {
  margin-right: 0;
}
.m-x-0 {
  margin-left: 0;
  margin-right: 0;
}
.m-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.m-t-xs {
  margin-top: 4px;
}
.m-b-xs {
  margin-bottom: 4px;
}
.m-l-xs {
  margin-left: 4px;
}
.m-r-xs {
  margin-right: 4px;
}
.m-x-xs {
  margin-left: 4px;
  margin-right: 4px;
}
.m-y-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}
.m-t-s {
  margin-top: 6px;
}
.m-b-s {
  margin-bottom: 6px;
}
.m-l-s {
  margin-left: 6px;
}
.m-r-s {
  margin-right: 6px;
}
.m-x-s {
  margin-left: 6px;
  margin-right: 6px;
}
.m-y-s {
  margin-top: 6px;
  margin-bottom: 6px;
}
.m-t-l {
  margin-top: 12px;
}
.m-b-l {
  margin-bottom: 12px;
}
.m-l-l {
  margin-left: 12px;
}
.m-r-l {
  margin-right: 12px;
}
.m-x-l {
  margin-left: 12px;
  margin-right: 12px;
}
.m-y-l {
  margin-top: 12px;
  margin-bottom: 12px;
}
.m-t-xl {
  margin-top: 16px;
}
.m-b-xl {
  margin-bottom: 16px;
}
.m-l-xl {
  margin-left: 16px;
}
.m-r-xl {
  margin-right: 16px;
}
.m-x-xl {
  margin-left: 16px;
  margin-right: 16px;
}
.m-y-xl {
  margin-top: 16px;
  margin-bottom: 16px;
}
.m-t-2xl {
  margin-top: 20px;
}
.m-b-2xl {
  margin-bottom: 20px;
}
.m-l-2xl {
  margin-left: 20px;
}
.m-r-2xl {
  margin-right: 20px;
}
.m-x-2xl {
  margin-left: 20px;
  margin-right: 20px;
}
.m-y-2xl {
  margin-top: 20px;
  margin-bottom: 20px;
}
.m-t-3xl {
  margin-top: 24px;
}
.m-b-3xl {
  margin-bottom: 24px;
}
.m-l-3xl {
  margin-left: 24px;
}
.m-r-3xl {
  margin-right: 24px;
}
.m-x-3xl {
  margin-left: 24px;
  margin-right: 24px;
}
.m-y-3xl {
  margin-top: 24px;
  margin-bottom: 24px;
}
.m-t-4xl {
  margin-top: 28px;
}
.m-b-4xl {
  margin-bottom: 28px;
}
.m-l-4xl {
  margin-left: 28px;
}
.m-r-4xl {
  margin-right: 28px;
}
.m-x-4xl {
  margin-left: 28px;
  margin-right: 28px;
}
.m-y-4xl {
  margin-top: 28px;
  margin-bottom: 28px;
}
.m-t-5xl {
  margin-top: 32px;
}
.m-b-5xl {
  margin-bottom: 32px;
}
.m-l-5xl {
  margin-left: 32px;
}
.m-r-5xl {
  margin-right: 32px;
}
.m-x-5xl {
  margin-left: 32px;
  margin-right: 32px;
}
.m-y-5xl {
  margin-top: 32px;
  margin-bottom: 32px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-underline {
  text-decoration: underline;
}
.text-line-through {
  text-decoration: line-through;
}
.text-none {
  text-decoration: none;
}
